.course-ES { background-color: #DE4343; }
.course-EG { background-color: #DE7643; }
.course-CH { background-color: #43DEAF; }
.course-CO { background-color: #4390DE; }
.course-BI { background-color: #5779B5; }
.course-PY { background-color: #8157B5; }
.course-EC { background-color: #DE9043; }
.course-SS { background-color: #DE43B7; }
.course-MA { background-color: #575DB5; }
.course-CN { background-color: #57B599; }
.course-FR { background-color: #57B599; }
.course-GM { background-color: #57B599; }
.course-GK { background-color: #57B599; }
.course-LA { background-color: #57B599; }
.course-SP { background-color: #57B599; }
.course-HI { background-color: #57B5A5; }
.course-HS { background-color: #57B5A5; }
.course-EN { background-color: #57B5B2; }
.course-HE { background-color: #57B5B2; }
.course-MU { background-color: #57ACB5; }
.course-TH { background-color: #57ACB5; }
.course-PL { background-color: #7657B5; }
.course-IC { background-color: #4FDE43; }
.course-HD { background-color: #5779B5; }
.course-AR { background-color: #57B55A; }
.course-HA { background-color: #57B55A; }
.course-PO { background-color: #57B55A; }
.course-SC { background-color: #57B573; }
